.gradle/*
gradlew.bat
local.properties
studiow.properties

.build-cache*

**/*.iml
**/.DS_Store
**/build/*
SystemUI/linked_elmyra_protos/**
SystemUI/wm_shell_protos/**
SystemUILib/linked_elmyra_protos/**
SystemUILib/wm_shell_protos/**

!.idea
.idea/*
!.idea/runConfigurations
!.idea/vcs.xml
!/.idea/copyright

.symlinkSrc/
test-file
